* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.block{
    padding: 0.1px;
    position: fixed;
    top: 15px;
    right: 20px;
    border: solid blue 1px;
    text-align: center;
    width: 100px;
    background-color: green;
}

.block a{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.header, .footer {
    text-align: center;
    background-color: rgba(178, 178, 241, 0.811);
    color: blue;
    padding: 10px 0 10px 0;
    font-size: 22px;
    font-weight: bold;
    }

    /*Меню*/
.menu {
    background-color: rgb(240,230,140);
    float: left;
    padding: 20px 0 20px 0;
    width: 300px;
    height: 600px;
}

h4 {
    font-size: 26px;
}

ul {
    margin: 20px 20px 0 15px;
 }

 li {
    margin: 10px 0 0 10px;
    font-size: 22px;
 }

 /*Баннер*/
.banner {
    background-color: aqua;
    float: right;
    height: 600px;
    width: 200px;
}

/*Контент*/
.content{
    margin-left: 300px;
    margin-right: 200px;
    background: url('../img/ball.gif') top right repeat-y;
    padding: 0px 30px 0px 15px;
    background-color: white;
    }
    img{
        float: left;
        padding: 0px 20px 20px 0px;
    }

    h2{
        text-align: center;
        padding: 15px 0 15px 0;
    }

.clearfix:after{
    content: '';
    clear: both;
    display: block;
}