*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
}

p{
    margin-bottom: 10px;
}

label{
    display: inline-block;
    margin-bottom: 15px;
}

input{

}

.text_article{
    margin-bottom: 0;
}

textarea{
    resize: none;
}

label{

}



