
//colors

$white: #FFFFFF;
$dark-yellow: #D8B152;
$dark: #424242;
$footer-color: #202020;

//font-size

$fz: 16px;
$fz18: $fz+2;
$fz28: $fz+12;
$fz46: $fz+30;
$fz56: $fz+40;

//font-weight

$reg: 400;
$bold: 600;

//containers

$xl: 1200px;

