
* {
    padding: 0;
    margin: 0;
}
/*header и footer */
.header, .footer{
    background-color: aqua;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/*Общий контент*/

.content1 {
background: url('img/banner1.gif') right top repeat-y,  url('img/background2.gif') 20% top repeat-y;
}

/*Меню*/
.menu {

width: 20%;
float: left;
}

ul {
    padding: 20px 10px 20px 25px;
}

li {
    padding: 0 15px 5px 0px;
}


/*Контент*/
.content2 {
margin-left: 20%;
margin-right: 200px;
}


/*Баннер*/
.banner {
float: right;
width: 200px;

}