
h1{
    text-align: center;
    color: red;
}

img{
    float: right;
}

div{
    float: left;
}

div img:hover{
    content: url(img/star1.png);
}

img:hover ~ img{
    content: url(img/star1.png);
}
















